# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# JasperGold project directories
jgproject*/

# Design directories
design/aquarius/
design/spi/*
!design/spi/config/
!design/spi/rtl/
design/mem_ctrl/*
!design/mem_ctrl/config/
!design/mem_ctrl/rtl/
design/wb_dma/*
!design/wb_dma/config/
!design/wb_dma/rtl/

# Log files
*.log
